.carousel_container{
  width: 100%;
  max-width: 1800px;
  margin: auto;
  overflow: hidden;

}

.carousel_container__item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%; /* Space between items */

  img{
    width: 450px;
    height: 500px;
    object-fit: cover;
    background-color: rgba(255, 255, 255, 0.05); /* White with 5% opacity */

  }

}