@import "../../styles/variables.scss";

.main_container {
  margin-top: 100px;
  color: $bg4;
 
  &__images {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5%;
    img {
      width: 375px;
      height: 500px;
      object-fit: cover;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
  }

  &__prices {
    border-radius: 20px;
    
    &__headers {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      text-align: center;
    }

    &__history {
      display: grid;
      grid-row-gap: 0px;
      
      &__stores {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 10px;
        background-color: rgba(64, 68, 75, 0.4);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        text-align: center;
        
        
      }
    }
  }
}