//@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Tangerine:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Libre+Baskerville:ital@1&family=Ruwudu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');


$sans-font: 'Source Sans Pro', sans-serif;

$bg:rgb(34, 40, 49);
$bg2:rgb(57, 62, 70);
$bg3:rgb(255, 211, 105);
$bg4:rgb(238, 238, 238);
$bg5:rgb(36, 36, 36);



$text: rgb(23, 23, 23);
$text2: rgb(68, 68, 68);
$primary: rgb(255, 211, 105);

$xxsmall-font:8px;
$xsmall-font:10px;
$small-font: 12px;
$medium-font: 18px;
$large-font: 24px;
$xlarge-font: 32px;
$xxlarge-font:45px;
$xxxlarge-font: 60px;


$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xlg: 80px;

$header-height: 72px;

$sm:37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

@mixin breakpoint($point){
  @if $point == sm{
    @media(min-width: $sm){
      @content;
    }
  }
  @if $point == md{
    @media(min-width: $md){
      @content;
    }
  }
  @if $point == lg{
    @media(min-width: $lg){
      @content;
    }
  }
}